
/*
@font-face { 
  font-family: "Roboto"; 
  src: url("../fonts/roboto.woff2") format("woff2"), 
       url("../fonts/roboto.woff") format("woff"); 
  font-weight: normal; 
  font-style: normal; 
}
*/
@font-face { 
  font-family: "Roboto Black"; 
  src: url("../fonts/roboto-black.woff2") format("woff2"), 
       url("../fonts/roboto-black.woff") format("woff"); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Roboto Bold"; 
  src: url("../fonts/roboto-bold.woff2") format("woff2"), 
       url("../fonts/roboto-bold.woff") format("woff"); 
  font-weight: bold; 
  font-style: normal; 
}


html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-weight: normal; 
    font-size: 16px;  
    line-height: 18px;
    font-family: "Roboto", sans-serif; /*?*/
    
    color: #fff;    
}
h2 {
    
}
h3 {
    
}

.theme-slider-controls {
   position: absolute;
   top: 562px;
   left: 26px;
   font-size: 0;
   z-index: 100;
}
.theme-slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
    margin-right: 8px;
    vertical-align: top;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.theme-slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
.theme-slider-controls label:active {
    background-color: #fff;
}
#btn-1:checked ~ .container .theme-slider-controls label[for="btn-1"],
#btn-2:checked ~ .container .theme-slider-controls label[for="btn-2"],
#btn-3:checked ~ .container .theme-slider-controls label[for="btn-3"] {
	background-color: #fff;
}
#btn-1:checked ~ .container {
    background-color: #849d8f;
    background-image: radial-gradient(circle at 50% 20%, #c9efdb , transparent  30%);
}
#btn-2:checked ~ .container {
	background-color: #8996a6;
    background-image: radial-gradient(circle at 50% 20%, #b4c6d4 , transparent  30%);
}
#btn-3:checked ~ .container {
	background-color: #9d8b84;
    background-image: radial-gradient(circle at 50% 20%, #decac2 , transparent  30%);
}

#btn-1:checked ~ .container .main .slider .slider-item:first-child {
    display: block;
    
}
#btn-2:checked ~ .container .main .slider .slider-item:nth-child(2) {
    display: block;   
}
#btn-3:checked ~ .container .main .slider .slider-item:last-child {
    display: block; 
    
}


/*
.flex-prefix{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}*/

/* Сетка */

.theme-slider {
   margin: 0 auto;
   /*min-width: 846px;*/
   /*max-width: 1146px; */
   min-width: 900px;
   max-width: 1200px;
   
}
.container {
    position: relative;
    
    
    
    padding: 0 2.3%;
    background: #849d8f;
    
}



/* header*/


.main-header {

    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    
    /*width: 100%;*/
    margin-bottom: 10px;
}


.main-logo {
    background-color: rgba(115, 222, 131, 0.42);
    
    position: relative;
    margin-right: 5px;
    width: 155px;
    /*width: 13.5%;*/
    
}

.main-menu {
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 48.8%;
   
    
}
.user-block {
    background-color: rgba(115, 222, 131, 0.42);

    margin-left: auto;
    min-width: 267px;
    /*width: 23.2%;*/
   
}
.store-info {
    background-color: rgba(115, 222, 131, 0.42);

    margin-left: auto;
    
    width: 267px;
    /*width: 23.2%;*/
}

.breadcrumbs {
    
    background-color: rgba(115, 222, 131, 0.42);
    /*width: 74.6%;*/
    width: 50%;
    margin-right: auto;
}


/*  Main   */

.main {
   
}
.main-title {
    font-size: 35px;
    
    
    
}
.slider {
    
    
    width: 100%;
    margin-bottom: 28px;
}
.slider-item {
    /*background-color: rgba(115, 222, 131, 0.42);*/
    position: relative;
    
    margin: 0 auto;
    
    width: 690px;
    height: 490px;
    
}


.slider-item img {
   
    position: absolute;
    top: -45px;
    left: 20px;
    
    z-index: 0;
    
}


.special-offer {
    margin-bottom: 25px;
    
    
    display: flex;
    justify-content: space-between;
}

.special-offer-left {
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 48.8%;
    
}
.special-offer-right {
    background-color: rgba(115, 222, 131, 0.42);
   
    width: 48.8%;
}


.hits {
    
    margin-bottom: 53px;
   
    display: flex;
    justify-content: space-between;
}
.catalog-list {
    
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.catalog-item {
    
    
    
    /*width: 267px;*/
    width: 23.2%;
    min-height: 200px;
    
    
    margin-bottom: 27px;
}
.item-pic {
    width: 100%;
    height: auto;
}


.about {
    background-color: rgba(115, 222, 131, 0.42);
    
    padding: 20px;
    margin-bottom: 38px;
}


.additional {
   display: flex;
   justify-content: space-between;
}

.additional-left {
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 48.8%;
}

.additional-right {
   
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 48.8%;
}

/* map  */

.contacts-content {
    width: 305px;
    margin-left: auto;
    padding: 1px;
    
}


.map {
    
    width: 100%;
    margin: 0 auto;
}
.map img {
    width: 100%;
    height: 100%;
    display: block;
}

/* footer */
.main-footer {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 23.2%;
    
}

.footer-links {
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 48.8%;
}

.footer-copyright { 
    background-color: rgba(115, 222, 131, 0.42);
    
    width: 23.2%;
}



.catalog {
    
}

.main-title {
    margin: 0;
    
}

.catalog-filter {
    
}
.paginator {
    width: 267px;
    margin-left: auto;
}

.slider-item,
input[type="checkbox"],
input[type="radio"],
.main-submenu,
.search-form,
.login-form,
.basket,
.feedback-form {
    display: none;  
}

.filter-options-sorting,
.filter-options-price,
.filter-options-fat,
.filter-options-filling,
.field-radio,
.field-checkbox {
    display: inline-block;
    vertical-align: top;
}
.filter-title {
    display: block;
}





.range-controls{
    position: relative;
    height:13px;
    width: 130px;
    background-color:#a9bbb1;
    border-radius:25px; 
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.scale {
    height: 2px;
    background-color: #d1d9d3; 
}
.bar {
    background-color: #f8f7f4;
    height: 2px;
    width: 50px;
}
.min-toggle {
    top: 4px;
    left: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f8f7f4;
    border-radius: 50%;
}
.filter-options-fat label,
.filter-options-filling label {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
.filter-options-fat label::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #f7f6f3; 
    border-radius: 50%; 
}
.filter-options-fat input[type="radio"]:checked ~ label::before {
    width: 10px;
    height: 10px;
    padding: 3px;
    background-color: #f7f6f3;
    background-clip: content-box;
}
.filter-options-filling label::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #f7f6f3;
    border-radius: 5px;
}
.filter-options-filling input[type="checkbox"]:checked ~ label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -18px;
    width: 7px;
    height: 4px;
    border: 2px solid #f7f6f3; 
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}
.paginator{
    counter-reset: flag;
}
.paginator a:not(:first-child):not(:last-child)::before {
    content: counter(flag);
    counter-increment: flag;
}





.main-logo {
    position: relative;
    left: -8px;
    top: 10px;
}

.main-list {
    margin: 0;
    padding-top: 24px;
    padding-left: 3px;
    
    list-style: none;
    font-size: 0;
}
.main-menu-item {
    display: inline-block;
    
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
}
.main-menu-item a {
    position: relative;
    display: block;
    padding: 6px 14px 7px 13px;
    color: #fff;
    text-decoration: none;
    
}
.main-menu-item a:not(:hover)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}
.main-menu-item a:hover {
    background: #f7f6f3;
    color: #333333;
    border-radius: 25px;
}

.user-block {
    padding-top: 23px;
    
    font-size: 0;
    text-align: right;
    
}
.user-block-item {
    display: inline-block;
 
   
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: top;
}

.user-block-item a {
    position: relative;
    
    display: block;
    padding: 8px 17px 8px 43px;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}
.user-block-item a:hover {
    background: #f7f6f3;
    color: #333333;
}

.user-block .search-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    
    background: rgba(255, 255, 255, 0.2) url("../img/icon-search.svg") no-repeat 50% 50%;
}
.user-block .search-btn:hover {
    background: #f7f6f3 url("../img/icon-search-black.svg") no-repeat 50% 50%;
}

.user-block .login-btn::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 20px;
    height: 19px;
    background: transparent url("../img/icon-login.svg") no-repeat 50% 50%;
}
.user-block .login-btn:hover::before {
    background: #f7f6f3 url("../img/icon-login-black.svg") no-repeat 50% 50%;
}
.user-block .basket-btn {
    padding: 8px 5px 8px 44px;
    min-width: 68px;
    text-align: left;
    
}
.user-block .user-block-item:last-child {
    margin-right: 0;
}
.user-block .basket-btn::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 20px;
    height: 19px;
    background: transparent url("../img/icon-cart.svg") no-repeat 50% 50%;
}
.user-block .basket-btn:hover::before {
    background: #f7f6f3 url("../img/icon-cart-black.svg") no-repeat 50% 50%;
}
.store-info {
    
    text-align: right;
    font-weight: bold;
    
   
    
}
.store-worktime {
    display: block;
    padding: 5px;
    padding-right: 1px;
    font-size: 14px;
    line-height: 16px;
    
   
}
.store-tel {
    display: block;
    
    font-family: "Roboto Black";
    font-size: 22px;
    line-height: 24px;
   
}


.slider-item-title {
    position: absolute;
    width: 650px;
    top: 264px;
    left: 15px;       
    font-family: "Roboto Black";
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    z-index: 2;
}
.slider-item:first-of-type .slider-item-title {
    width: 690px;
    left: -2px;
}
.slider-item:nth-of-type(2) .slider-item-title {
    left: 17px;
}
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    background: linear-gradient(#f26843, #e74b36);
    box-shadow: 0px 2px 2px rgba(172, 16, 0 , 0.64);
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.btn:hover {
    background: linear-gradient(#f58669, #ec6f5e);
}
.btn:active {
    background: linear-gradient(#d74531, #e1613e);
    box-shadow: inset 0px 2px 2px #942718;
}
.buy-both {
    position: absolute;
    top: 414px;
    left: 204px;
    z-index: 3;
    
    padding: 8px 41px 11px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76),
                 -1px -1px 5px rgba(61, 61, 46, 0.34),
                 1px 1px 5px rgba(61, 61, 46, 0.34);       
}

.buy-both:hover {
    background: linear-gradient(#f58669, #ec6f5e);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.buy-both:active {
    background: linear-gradient(#d74632, #e1613e);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: inset 0px 1px 5px #952718;        
}

.special-offer-card {
    position: relative;
    padding: 16px 18px 80px 18px;
    min-height: 229px;
    border-radius: 15px;
    box-sizing: border-box;
}

.raspberry-card {
    background: #3a0002 url("../img/background-raspberries.png") no-repeat;
    background-size: cover;
}
.chocolate-card {
    background: #562f19 url("../img/background-chocolate.png") no-repeat;
    background-size: cover;
}

.offer-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
   
    font-size: 35px;
    line-height: 41px;
    text-align: left;
}
.offer-details {
    margin: 0;
    margin-left: 1px;
    
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align:left;
}

.want-it {
    position: absolute;
    right: 20px;
    bottom: 24px;
    padding: 10px 22px 11px;
    background: linear-gradient(#f16742, #e54a35);
    box-shadow: 0px 2px 2px rgba(172, 16, 0 , 0.64); 
}




.catalog-item {
    position: relative;
    
}

.item-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.hits-item::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 61px;
    height: 61px; 
    border-radius: 50%;
    background: url("../img/hit.jpg") no-repeat;
    z-index: 100;
}
.item-price {
    position: absolute;
    bottom: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-price-cost {
    font-size: 45px;
    line-height: 45px;
    
    
}
.item-price-units {
    position: relative;
    font-size: 30px;
    line-height: 45px;
    padding-left: 32px;
}
.item-price-units::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 31px;
    height: 36px;
    background: transparent url("../img/icon-ruble-shadow.svg") no-repeat 50% 50%;
    
}
.item-title {
    
    margin-top: 0;
    margin-bottom: 7px;
    
    
    
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
    
}
.item-title span {
   
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.item-btn-wrapper {
    position: absolute;
    bottom: -55px;
    display: block;
    width: 100%;
    text-align: center;
    
}


.btn-item-preview {
    position: relative;
    padding: 11px 13px 10px; 
    z-index: 100;
}

.catalog-item:hover::after {
    content: "";
    position: absolute;
    top: -9px; 
    bottom: -72px; 
    left: -10px; 
    right: -10px; 
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
   
}
